body{
  background-color: hsl(0, 0%, 12%);
}
#img{
  border-radius: 50%;
}
.text{
  color: white;
}
#ooi{
  margin-left: 10%;
  text-align: center;
}
#lon{
  color: hsl(75, 94%, 57%);
  font-size: 30px;
}
.developer{
  font-size: 40px;
  color: rgb(189, 184, 184);
}
.button{
  margin-left: 5%;
  display: block;
}
.card{
  width: 60%;
  height: 100px;
  font-size: 30px;
  background-color: hsl(0, 3%, 23%);
  color: azure;
  border-radius: 30px;
  margin: 15px auto;
}