body{
  background-color: hsl(0, 0%, 12%);
}
#img{
  border-radius: 50%;
}
.text{
  color: white;
}
#ooi{
  margin-left: 11%;
  text-align: center;
}
#lon{
  color: hsl(75, 94%, 57%);
  font-size: 30px;
}
.developer{
  font-size: 40px;
  color: rgb(189, 184, 184);
}
.button{
  margin-left: 5%;
  display: block;
}
.card{
  width: 70%;
  height: 100px;
  font-size: 30px;
  background-color: hsl(0, 5%, 13%);
  color: azure;
  border-radius: 30px;
  margin: 15px auto;
}

.card:hover {
  background-color: #89e913; 
  color: black;
}

#ooi {
  text-align: center; 
  width: 60%; 
  margin: 0 auto; 
  background-color: #363333fe; 
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
}